<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todoitems.each do |todo| %>
      <tr>
        <% if todo.todo_id == @todo.id %>
          <td><%= todo.title %></td>
          <td><%= todo.description %></td>
          <td><%=raw todo.tag_list.map {|t| link_to t,todo_todoitem_tag_path(:todo_id => @todo.id,:todoitem_id => todo.id,:tag=> t ) }.join(',') %></td>
          <td><%= link_to 'Show',todo_todoitem_path(:id=>todo.id) %></td>
          <td><%= link_to 'Edit',edit_todo_todoitem_path(:id=>todo.id) %></td>
          <td><%= link_to 'Destroy',todo_todoitem_path(:id=>todo.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
           <td><%= link_to 'Mark as complete',incomplete_todo_todoitem_path(:id=>todo.id,:todoitem_id=>todo.id) %></td>



        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>