<p id="notice"><%= notice %></p>
<div class= "container">
<h1>Things to do</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Tags</th>
      <th>Due By</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @todoitems.each do |todo| %>
      <tr>
        <% if todo.todo_id == @todo.id %>
          <td><%= todo.title %></td>
          <td><%=raw todo.tag_list.map {|t| link_to t,todo_todoitem_tag_path(:todo_id => @todo.id,:todoitem_id => todo.id,:tag=> t ) }.join(',') %></td>
          <td><%= todo.due_by %></td>
          <td><%= link_to 'Show',todo_todoitem_path(:id=>todo.id) %></td>
          <td><%= link_to 'Edit',edit_todo_todoitem_path(:id=>todo.id) %></td>
          <td><%= link_to 'Destroy',todo_todoitem_path(:id=>todo.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <td><%= link_to 'Mark as complete',complete_todo_todoitem_path(:id=>todo.id,:todoitem_id=>todo.id) %></td>


        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'New Todo', new_todo_todoitem_path %>
<%= link_to 'Show completed', completed_todo_todoitem_path(:id =>@todo.id) %>
</div>