<div class="container1">
<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @todo.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @todo.description %>
</p>


<!--<div id = "todoitems_wrapper">
	<%= render @todo.todoitems %>
	<div id ="form">
		<%= render "todoitems/form"%>
	</div>	
</div>-->
<%= link_to 'Edit', edit_todo_path(@todo) %> |
<%= link_to 'Back', todos_path %>
</div>